/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Background color for the entire page */
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff; /* Background color for the container */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333; /* Header color */
  }
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  input{
    padding: 8px;
    margin: 2px;
  }
  
  .input-container input[type='text'] {
    padding: 10px;
    border: 1px solid #dddddd; /* Input border color */
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .input-container button {
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .input-container button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #dddddd; /* List item border color */
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: #555555; /* Icon color */
    transition: fill 0.3s;
  }
  
  .icon:hover {
    fill: #007bff; /* Icon color on hover */
  }
  .save{
    position: relative;
    left: 824px;
    /* right: 20px; */
  }
  /* CSS for centering the h4 element */
  .no {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
  }
  